In [1]:
from lightfm import LightFM
from lightfm.evaluation import precision_at_k, auc_score
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

c:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Programs\Python\Python311\Lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [2]:
import os
parent_directory = os.path.dirname(os.getcwd())

os.chdir(parent_directory)
os.getcwd()

'd:\\When-Hybrid-meets-the-Prompt'

In [3]:
df_courses = pd.read_csv("Data/courses.csv")
df_ratings = pd.read_csv("Data/ratings.csv", nrows=1000000)

In [4]:
df_ratings = df_ratings[["item_id","user_id","rating"]].dropna().drop_duplicates()
df_ratings.head()

   item_id      user_id  rating
0   473160  152417014.0     4.0
1   473160  152414066.0     5.0
2   473160  152405496.0     4.5
3   473160  152400132.0     5.0
4   473160  152397002.0     4.0

In [5]:
df_ratings.shape

(998185, 3)

In [7]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 998185 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   item_id  998185 non-null  int64
 1   user_id  998185 non-null  float64
 2   rating   998185 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 30.5 MB

In [6]:
user_item_interaction = pd.pivot_table(df_ratings, index='user_id', columns='item_id', values='rating')
user_item_interaction

item_id,9711,11331,13034,22169,24823,26433,39115,53600,64098,74092,...,5330322,5340996,5348658,5354232,5357164,5377418,5390470,5398912,5420258,5512420
user_id,,,,,,,,,,,,,,,,,,,,,
10350.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10496.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11210.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14025.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14093.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152423110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152423204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152423206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152423224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152423276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN