In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import joblib

In [4]:
import os
parent_directory = r"d:\\When-Hybrid-meets-the-Prompt"

os.chdir(parent_directory)
os.getcwd()

'd:\\When-Hybrid-meets-the-Prompt'

In [7]:
df_courses = pd.read_csv("Data/courses.csv", nrows=10000, index_col=0).dropna()
df_courses = df_courses.reset_index(drop=True)
df_courses.info()
df_courses.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8374 entries, 0 to 8373
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           8374 non-null   int64
 1   item_name         8374 non-null   object
 2   item_avg_rating   8374 non-null   float64
 3   item_category     8374 non-null   object
 4   item_subcategory  8374 non-null   object
 5   item_members      8374 non-null   float64
 6   item_description  8374 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 458.1+ KB

,item_id,item_name,item_avg_rating,item_category,item_subcategory,item_members,item_description
0,473160,Web Design for Web Developers: Build Beautiful...,4.466391,Development,Web Development,681494.0,IMPORTANT NOTE: The material of this course is...
1,433798,Introduction To Python Programming,4.408828,Development,Programming Languages,885914.0,Are you interested in becoming a programmer? P...
2,5340996,Python Interview Preparation Coding Exercises,3.596154,Development,Programming Languages,11357.0,Level Up Your Python Skills for Coding Intervi...
3,53600,Useful Excel for Beginners,4.512998,Office Productivity,Microsoft,603913.0,\t Welcome to the Useful Excel for Beginn...
4,24823,Java Tutorial for Complete Beginners,4.374596,Development,Programming Languages,1840631.0,\t Learn to program in the Java progr...