In [11]:
import pandas as pd

In [12]:
df_courses = pd.read_csv('../Data/courses.csv', index_col=0)
df_ratings = pd.read_csv('../Data/ratings.csv')

In [13]:
df_courses.head()

,item_id,item_name,item_avg_rating,item_category,item_subcategory,item_members,item_description
0,473160,Web Design for Web Developers: Build Beautiful...,4.466391,Development,Web Development,681494.0,IMPORTANT NOTE: The material of this course is...
1,433798,Introduction To Python Programming,4.408828,Development,Programming Languages,885914.0,Are you interested in becoming a programmer? P...
2,5340996,Python Interview Preparation Coding Exercises,3.596154,Development,Programming Languages,11357.0,Level Up Your Python Skills for Coding Intervi...
3,53600,Useful Excel for Beginners,4.512998,Office Productivity,Microsoft,603913.0,\t Welcome to the Useful Excel for Beginn...
4,24823,Java Tutorial for Complete Beginners,4.374596,Development,Programming Languages,1840631.0,\t Learn to program in the Java progr...

In [14]:
df_ratings.head()

,item_id,user_id,user_name,rating,review
0,473160,152417014.0,Aloysius Yong,4.0,NaN
1,473160,152414066.0,Yash raut,5.0,NaN
2,473160,152405496.0,sagar Lakshkar,4.5,amzing tutorials and knowledge
3,473160,152400132.0,John Terence Mantilla,5.0,NaN
4,473160,152397002.0,Vaishnavi gupta,4.0,NaN

In [15]:
df_courses.info()
print("-------------------------------------")
print(f"Duplicated values: {df_courses.duplicated().sum()}")
print(f"Null values: \n{df_courses.isna().sum()}")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8380 entries, 0 to 8379
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_id           8380 non-null   int64
 1   item_name         8375 non-null   object
 2   item_avg_rating   8375 non-null   float64
 3   item_category     8375 non-null   object
 4   item_subcategory  8375 non-null   object
 5   item_members      8375 non-null   float64
 6   item_description  8374 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 523.8+ KB
-------------------------------------
Duplicated values: 140
Null values:
item_id             0
item_name           5
item_avg_rating     5
item_category       5
item_subcategory    5
item_members        5
item_description    6
dtype: int64

In [16]:
df_ratings.info()
print("-------------------------------------")
print(f"Duplicated values: {df_ratings.duplicated().sum()}")
print(f"Null values: \n{df_ratings.isna().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4275200 entries, 0 to 4275199
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   item_id    int64
 1   user_id    float64
 2   user_name  object
 3   rating     float64
 4   review     object
dtypes: float64(2), int64(1), object(2)
memory usage: 163.1+ MB
-------------------------------------
Duplicated values: 61851
Null values:
item_id            0
user_id           14
user_name      68290
rating            14
review       3541701
dtype: int64

In [17]:
df_embs = pd.DataFrame()
df_embs["full_content"] = df_courses["item_description"] + " " + df_courses["item_category"] + " " + df_courses["item_subcategory"]
df_embs["full_content"][0]

'IMPORTANT NOTE: The material of this course is also covered in my other course about web design and development with HTML5 & CSS3. Scroll to the bottom of this page to check out that course, too! If you\'re already taking my other course, you already have all it takes to start designing beautiful websites today!"Best web design course on Udemy: If you\'re interested in web design, but want more than just a "how to use WordPress" course, I highly recommend this one." — Florian Giusti"Very helpful to us left-brained people: I am familiar with HTML, CSS, JQuery, and Twitter Bootstrap, but I needed instruction in web design. This course gave me practical, impactful techniques for making websites more beautiful and engaging." — Susan Darlene Cain"The most educational instructor ever!: Everything is good about this course, you learn a lot, the instructor are excellent and the production is flawless. Love this course, simple as that!" — LovisaDid you know that beautiful websites convert better than ones that don\'t stand out at all? This means more sales, more signups, and ultimately more money for you. Do you want to learn how to do exactly that?If you wonder how you can make your next website really good-looking, then you\'ve come to the right place! In this course, I will show you 25+ guidelines of amazing web design in less than 1 hour. No boring theory, no unnecessary stuff. You will learn dead simple web design rules and guidelines that go straight to the point — you can use them to improve your websites today!In this course, we will use beautiful web design examples together with my 25+ guidelines of amazing web design to learn:• How to make text look professionally designed• How to correctly use the power of colors• How to get and use amazing images, fonts, and icons to make your website shine — all for FREE.• How to create a layout using whitespace and visual hierarchy• How to keep yourself inspired to learn more and more about web design• How to make your websites convert better using 8 simple-to-use techniquesBut there is even more: I provide you with tons of useful web design resources to get you started for your next web design project! These are real-world resources used by real professionals in the web design industry!You can use the rules and guidelines you\'ll learn in this course for everything you want: design your own WordPress theme, personalize a Bootstrap website, start from scratch with HTML and CSS, or mockup a website in Figma. The 25+ guidelines of amazing web design are universal and ready-to-use for any project.This course is perfect for experienced web developers who want to learn how to make their websites look beautiful and professionally designed. Development Web Development'

In [18]:
# from sentence_transformers import SentenceTransformer

# model = SentenceTransformer('all-MiniLM-L6-v2')
# courses_embeddings = model.encode(df_embs["full_content"])

In [19]:
# len(courses_embeddings)

8380

In [20]:
# import joblib
# joblib.dump(courses_embeddings,"../Assets/courses_embeddings.pkl")

['../Assets/courses_embeddings.pkl']